@media (max-width: 767px) {
    main.albumes ul.izq{
        text-align: center;
    }
    main.albumes ul.der{
        text-align: center;
    }
}

@media (max-width: 1000px) {
    header li{
        font-size: 10px;
    }
}

@media (min-width: 390px){
    .titulohome{
        font-size: 10px
    }
}